<%= image_tag image_path('logo.png'), style: 'float: right;' %>
<h1>Что такое Estimote Beacons?</h1>
<p>Estimote Beacons and Stickers are small wireless sensors that you can attach to any location or object. They broadcast tiny radio signals which your smartphone can receive and interpret, unlocking micro-location and contextual awareness.</p>
<p>With the Estimote SDK, apps on your smartphone are able to understand their proximity to nearby locations and objects, recognizing their type, ownership, approximate location, temperature and motion. Use this data to build a new generation of magical mobile apps that connect the real world to your smart device.</p>
<%= image_tag image_path('estimote.png'), height: '300px'%>
<%= image_tag image_path('estimote-beacon.jpg'), style: 'float: right;'%>
<p>С помощью нашего сайта вы сможете добавить ваш магазин в наше приложение <a>MapShop</a>,
  и ваши покупатели всегда будут знать где находится тот или иной товар.</p>
<p><b>Для этого вам надо:</b></p>
<ol>
  <li>Установить в вашем магазине датчики <a href="http://estimote.com/">Estimote Beacons</a></li>
  <li>Зарегистрироваться на нашем сайте</li>
  <li>И добавить ваш магазин</li>
</ol>